Exercise: Array DataStructure
Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [8]:
expense = [2200,2350,2600,2130,2190]

#In Feb, how many dollars you spent extra compare to January?
print(expense[1]-expense[0])

#Find out your total expense in first quarter (first three months) of the year.
print(expense[0]+expense[1]+expense[2])

#Find out if you spent exactly 2000 dollars in any month
for i in expense:
  if i == 2000:
    print("yes")
    break
else:
  print("no")

#June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
expense.append(1980)
print(expense)

#You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this
expense[3] = expense[3] - 200
print(expense)

150
7150
no
[2200, 2350, 2600, 2130, 2190, 1980]
[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.

In [16]:
heros=['spider man','thor','hulk','iron man','captain america']

print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [22]:
#Length of the list
print(len(heros))

#Add 'black panther' at the end of this list
heros.append('black panther')
print(heros)

#You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)

#Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.
heros[1:3] = ['docor strange']
print(heros)

#Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
heros.sort()
print(heros)

20
[' ', 'a', 'black panther', 'black panther', 'black panther', 'black panther', 'c', 'captain america', 'd', 'e', 'g', 'iron man', 'n', 'o', 'o', 'r', 'r', 's', 'spider man', 't', 'black panther']
[' ', 'a', 'black panther', 'black panther', 'black panther', 'black panther', 'c', 'captain america', 'd', 'e', 'g', 'iron man', 'n', 'o', 'o', 'r', 'r', 's', 'spider man', 't', 'black panther']
[' ', 'docor strange', 'black panther', 'black panther', 'black panther', 'c', 'captain america', 'd', 'e', 'g', 'iron man', 'n', 'o', 'o', 'r', 'r', 's', 'spider man', 't', 'black panther']
[' ', 'black panther', 'black panther', 'black panther', 'black panther', 'c', 'captain america', 'd', 'docor strange', 'e', 'g', 'iron man', 'n', 'o', 'o', 'r', 'r', 's', 'spider man', 't']

In [25]:
print('enter max number:')
num = input()
for i in range(1, int(num)+1):
  if i%2 == 1:
    print(i)

enter max number:
10
1
3
5
7
9